<!DOCTYPE html>
<html>
<head>
<title>
	{% if title %}
		E-Commerce- {{title}} 
	{% else %}
		E-Commerce
	{% endif %}
</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark"> 
	<div class="container"> 
		<a class="navbar-brand" href="/product_site">
			My Shop 
		</a>
		<a class="navbar-brand" href="/order_site">
			My Orders 
		</a> 
		<span class="navbar-text text-white"> 
			Home Page
		</span> 
	<div id="user-area"></div>
	</div> 
</nav>
<script> 
	const userId = localStorage.getItem("user_id");
	const userArea = document.getElementById("user-area"); 
	if (userId !== null) { 
	// User Logge 
	userArea.innerHTML = ` 
	<span class="navbar-text text-white">
	User ${userId} 
	</span>
	`; 
	} else { 
	// Utente non loggato 
	userArea.innerHTML = ` <a class="navbar-brand" href="{{"login_site"}}"> 
	Login
	</a> 
	`; }
</script>
</body>

<footer class="bg-dark text-white py-4 mt-5">

    <div class="container text-center">
        <small>
            My Shop &copy; 2026
        </small>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" ></script>

</html>